.header {
    background-color: #2d3748;
    color: #ffffff;
    padding: 1.6rem 0;
    filter: drop-shadow(0px 0px 1px #00000086);
    position: sticky;
    top: 0;
    z-index: 99;
}

.fixed{
    background-color: #2d3748d3;
    backdrop-filter: blur(8px);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 4.6rem;
    font-family: "Orbitron", serif;

}

.link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    transition: color 0.2s;
}

.link:hover {
    color: #63b3ed;
}

.userMenu {
    font-size: 1rem;
}